
// Box
// Border
// Background
// Text
// Other

/*
    Defines colours and images
*/
@primary-color: blue;
@secondary-color: yellow;
@background-color: orange;
@font-color: white;

.jumbotron {
    background-color: @background-color;
    color: @font-color;
}