<nav id="sidebar" class="">
  <div class="p-4 pt-5">
    <i class="fas fa-tachometer-alt fa-5x"></i>
    <ul class="list-unstyled components mb-5">
  
      <li>
        <a href="#tenantSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tenant Admin</a>
        <ul class="collapse list-unstyled" data-toggle="collapse" id="tenantSubmenu">
          <li>
              <a href="add_tenant.php">Add Tenant</a>
          </li>
          <li>
              <a href="#">Edit/Remove Tenant</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#contractorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contractor Admin</a>
        <ul class="collapse list-unstyled" data-toggle="collapse" id="contractorSubmenu">
          <li>
              <a href="#">Add Contractor</a>
          </li>
	  <li>
              <a href="#">Edit/Remove Contractor</a>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</nav>

