{# Assignment4\templates\base.twig.html #}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--Bootstrap-->
    {{include("bootstrap.twig")}}
    <link rel="stylesheet" href="styles/styles.css" />
    <title>
        {{ page_title }}
    </title>
    
</head>

<body class="container-fluid pt-3">
        
        {% block navigation %}
            {% include "nav.twig" %}
        {% endblock navigation %}
        
        {% block header %}
            {# {% include "header.twig" %} #}
        {% endblock header %} 

        {% block main %}
        <main id="main">
            <article id="article">
            {% block article %}
            {% endblock article %}
            </article>

            {% block section %}
            
            {% endblock section %}
        </main>
        {% endblock main %}
    
   
        {% block footer %}
            {% include "footer.twig" %}
        {% endblock footer %}
    </div>
{% block javascripts %}
{% endblock javascripts %}

</body>

</html>
{% endapply %}