{# Assignment4\templates\base.twig.html #}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--Bootstrap-->
    {{include("bootstrap.twig")}}
    <link rel="stylesheet" href="styles/styles.css" />
    <title>
        {{ page_title }}
    </title>
    
</head>

<body class="container-fluid pt-3">
        
        {% block navigation %}
            {% include "nav.twig" %}
        {% endblock navigation %}
        
        {% block header %}
            {% include "header.twig" %}
        {% endblock header %} 

        {% block main %}
        <main id="main">
            <article id="article">
            {% block article %}
            {% endblock article %}
            </article>

            {% block section %}
            
            {% endblock section %}
        </main>
        {% endblock main %}
    
        {# <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-xs-6">.col-xs-6</div>
            <div class="col-xs-6">.col-xs-6</div>
        </div> #}
        {% block footer %}
            {% include "footer.twig" %}
        {% endblock footer %}
    </div>
{% block javascripts %}
{% endblock javascripts %}

</body>

</html>
{% endapply %}