<footer>
    <div class="footer_container">
        <div class="inner_footer_container">
            <div class="link_container">
                <div class="subfooter">
                {% autoescape false %}
                
                {% endautoescape %}
                <p>Our Company Name Inc. &copy; 2020 | Apartments for Rent</p>
                </div>
            </div>
        </div>
    </div>
</footer>