<header>
    <div class="header">
        <div class="logo">[]</div>
        <div class="marquee">
            <div class="text">
                Rental Management Application
            </div>
        </div>
    </div>
</header>