<header class="jumbotron">
<div class="col-12" class="col-md-8">

            {{ title }}
      
</div>
<div class="col-6" class="col-md-4">
{% autoescape false %}
    {{address}}
{% endautoescape %}
</div>
</header>