<header class="jumbotron text-right text-white ">
    <div class="col-12">
    {% autoescape false %}
                {{ page_title }}    
    </div>
    <div class="col-12 "
        {{address}}
    {% endautoescape %}
    </div>
</header>