<ul class="nav md-tabs light-blue lighten-1 mx-0 mb-0 mt-1">
  
</ul>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
  <a class="navbar-brand" href="index.php">Renty</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
  <ul class="navbar-nav mr-auto">
    {% for link in nav %}
      <li class="nav-item"><a class="nav-link" href="{{link.link}}">{{link.text}}</a></li>
    {% endfor %}  
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="user_profile.php">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
      <li class="m-2" ><a href="index.php"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
    
    </ul>
  </div>
</nav>
<!--/.Navbar -->
