{% extends 'dashboard.twig' %}

{% block dashboard_content %}
<h1>{{ heading }}</h1>
{% include "table-base.twig" %}

<input id="plot_button" type="button" value="plot">
   
 <div class="Graph">
         <div id="tempGraph"></div>

      </div>
{% endblock dashboard_content %}

{% block javascripts %} 
{% if chartType == "bar" %}
    <script src="scripts/barChart.js" defer></script>   
{% elseif chartType == "pie" %}
    
    <script src="scripts/pieChart.js" defer></script>   

{% endif %}
    {% endblock javascripts %}