<nav id="sidebar" class="">
  <div class="p-4 pt-5">
    <i class="fas fa-tachometer-alt fa-5x"></i>
    <ul class="list-unstyled components mb-5">
 
      <li>
          <a href="user_profile.php">Manager Profile</a>
      </li>

      <li>
          <a href='show_tenant_activity.php'>Activity Log</a>
      </li>
 
      <li>
        <a href="#tenantSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tenant Stats</a>
        <ul class="collapse list-unstyled" data-toggle="collapse" id="tenantSubmenu">
          <li>
              <a href="tenant_stats.php">Placeholder</a>
          </li>
          <li>
              <a href="#">Placeholder</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#contractorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contractor Stats</a>
        <ul class="collapse list-unstyled" data-toggle="collapse" id="contractorSubmenu">
          <li>
            <a href="#">Placeholder</a>
          </li>
        </ul>
      </li>
 
      <li>
        <a href="#repairSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Repair Stats</a>
        <ul class="collapse list-unstyled" id="repairSubmenu">
          <li>
              <a href="incomplete_repairs.php">Incomplete Repairs</a>
          </li>
          <li>
              <a href="repair_orders_per_type.php">Repairs Per Work Type</a>
          </li>
	  <li>
	      <a href="repair_order_per_suite.php">Repairs Per Suite</a>
	  </li>
          <li>
              <a href="list_repair_orders.php">Unassigned Repairs</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#inspectionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inspection Stats</a>
        <ul class="collapse list-unstyled" id="inspectionSubmenu">
          <li>
            <a href="current_inspections.php">Current Inspections</a>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</nav>

