<nav id="sidebar">
  <div class="p-4 pt-5">
    <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(img/logo.jpg);"></a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
              <a href="tenant_stats.php">Tenant Stats</a>
          </li>
          <li>
              <a href="#">Suite Stats</a>
          </li>
          <li>
              <a href="#">Repair Stats</a>
          </li>
          <li>
              <a href="#">Cost Stats</a>
          </li>
        </ul>
      </li>
      <li>
          <a href="user_profile.php">Manager Profile</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tenants</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
              <a href="#">Add Tenant</a>
          </li>
          <li>
              <a href="#">Assign Parking</a>
          </li>
          <li>
              <a href="#">Edit Tenant Information</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="rent_admin.php">Rent Administration</a>
      </li>
      <li>
        <a href="#">Inspections</a>
      </li>
    </ul>

  </div>
</nav>

