<nav id="sidebar" class="">
  <div class="p-4 pt-5">
    
    <ul class="list-unstyled components mb-5">
  
          <li>
              <a href="list_suites.php">Back to All Suites</a>
          </li>

    </ul>
  </div>
</nav>

